global
    external-check
    insecure-fork-wanted

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    retries 2

frontend pg_write
    bind *:5000
    default_backend pg_primary

backend pg_primary
    option external-check
    external-check command /usr/local/bin/check_primary.sh
    server pgsql pgsql:5432 check inter 3s fall 2 rise 2
    server pgsql_r1a pgsql_r1a:5432 check inter 3s fall 2 rise 2
